
body{
    padding: 0px 8px;
}
section{
    border-radius: 10px;
}

/* 공통사항 - 박스 크기 및 형태 */
.r-style{
    /* background-color: white; */
    border: solid 5px;
    border-color: #69BC80;
}
/* 테스트 */

/*박스 체크박스 누르면 크기 커지게 만드는 것*/
.box-resizing-btn{
    width: 1px;
    height: 1px;
    padding: 0px;
    margin: 0px;
}
.resizing{
    height: 10px;
    transition-duration: 2s;

}
.box-resizing-btn:checked ~ .resizing{
    width: minmax(50px, auto);
    height: 300px;
    transition-duration: 2s;
    transition-property: height, background-image;
}

/* 박스 애니메이션 or 트랜젝션 -> 스르륵*/



/* Frame */


.grid-box{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: minmax(50px, 1fr) repeat(5, auto);
    grid-row-gap: 16px;
    height: 100%;
}
    .profile{
        overflow: hidden;
        background-image: url("../../../img/arrow.svg");/*url("data:image/svg+xml,%3Csvg width='31' height='40' viewBox='0 0 31 40' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 35.0942L18.8688 19.8834L0 4.6726L5.80894 0L30.5279 19.8834L5.80894 39.7669L0 35.0942Z' fill='%2369BC80'/%3E%3C/svg%3E%0A");*/
        background-repeat: no-repeat;
        display: grid;
        grid-template: 
        "1 2 3"
        "4 4 4";

    }
        .profile resizing{

        }

    .font{
        overflow: hidden;
        display: grid;
    }

    .alarm{
        overflow: hidden;
        display: grid;
    }

    .export{
        overflow: hidden;
        display: grid;
    }

    .customer-service{
        overflow: hidden;
        display: grid;
    }

    .logout-quit{
        overflow: hidden;
        display: grid;
    }



/* content */