html{
    width: 100vw;
    height: 100vh;
}

body{
    padding: 0px 8px;
}

section{
    border-radius: 10px;
}

/* 테스트 */

/*박스 체크박스 누르면 크기 커지게 만드는 것*/
.box-resizing-btn{
    width: 0px;
    height: 0px;
    padding: 0px;
    margin: 0px;
}

.resizing{
    width: 100vw;
    height: 0px;
    transition-duration: 2s;
}

.box-resizing-btn:checked ~ .resizing{
    width: 100vw;
    /* height: 300px; */
    height: auto;
    transition-duration: 2s;
    transition-property: height;
}



/* 박스 애니메이션 or 트랜젝션 -> 스르륵*/


/* ------프레임, 틀, 레이아웃------------------------------------------------- */
/* Frame, 틀 레이아웃 배치*/
.grid-box{
    display: grid;
    grid-row-gap: 16px;
}
    .profile{
        overflow: hidden;
        display: grid;
        grid-template: 
        "btn title"
        "main main";
    }


    .font{
        overflow: hidden;
        display: grid;
        grid-template: 
        "btn title"
        "main main";
    }

    .alarm{
        overflow: hidden;
        display: grid;
        grid-template: 
        "btn title"
        "main main";
    }

    .export{
        overflow: hidden;
        display: grid;
        grid-template: 
        "btn title"
        "main main";
    }

    .customer-service{
        overflow: hidden;
        display: grid;
        grid-template: 
        "btn title"
        "main main";
    }

    .logout-quit{
        overflow: hidden;
        display: grid;
        grid-template: 
        "btn title"
        "main main";
    }

/* -프레임, 틀, 레이아웃 꾸미기- */

    /* 공통꾸미기 - 박스 크기 및 형태 */
    .r-style{

        /* width: 70vw;
        height: 10vh; */
        background-color: #fcfcfc;
        box-shadow: 0px 4px 4px rgba(0, 4, 4, 0.1);
        border-radius: 10px;
    
        /* border: solid 5px;
        border-color: #69BC80; */
    }




/* ---------콘텐츠--------------------------------------------- */


/* content */
    /* 공통되는 콘텐츠 배열(?) */
    .on-off{
        grid-area: btn;
    }